<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Contract Pricing</title>
    <th:block th:replace="fragments/fragments :: head"></th:block>
</head>
<body>
<div th:replace="fragments/fragments :: header"></div>
<div th:replace="fragments/fragments :: sidebar"></div>
<h1>Contract Pricing</h1>
<p>Placeholder for contract price creation.</p>
</body>
<script th:replace="fragments/fragments :: sidebar-script"></script>
<div th:replace="fragments/fragments :: footer"></div>
</html>

